@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto&display=swap');

body{
	width:100%;
	height: auto;
	margin:0 auto;
	background-color:#604873;
	color:white;
	font-family: 'Roboto', sans-serif;
}

#logoImg{
	width:90%;
	height: auto;
}

/******* COLUMNS  ******/

.col1{
	width: 30%;
	margin-top: 10px;	
}

.col2{
	width:30%;
	margin: 0 auto;	
}

.col8{width:15%;}

.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}

.mainNav{
	width:100%;
	background-color: #2F0A3C;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;

	padding-top: 10px;
	padding-bottom: 10px;
}

.navLinkBlue{
	color:#FFFFFF;
	font-family: 'Roboto', sans-serif;
	padding-left:25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #30B9C4;
	border-radius: 20px;
	margin-right: 35px;	
}

.navLinkPink{
	color:#FFFFFF;
	font-family: 'Roboto', sans-serif;
	padding-left:25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #C52068;
	border-radius: 20px;
	
}

a {
	text-decoration: none;	
}

.navLinkBlue:hover {
	background-color:#FDBF2B;
}

.navLinkPink:hover {
	background-color:#FDBF2B;
}


/*******YELLOW BORDER ON ACTIVE PAGE******/
.onActive{
		border:#FDBF2B 3px solid;
}

.lingImage{
	width:300px;
	height: auto;
	padding-top: 180px;
	padding-left: 150px;
}

.col10{width:300px;}

.form{
	width:400px;
	height: auto;
	margin-left: 100px;
	margin-right:190px;
	margin-top: 100px;
	margin-bottom: 20px;
	background-color: #8468A0;
	border-radius: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 60px;
	padding-right: 60px;
}

h1{
	font-size: 30px;
	font-weight: bold;
	
}

#sendButton{
	background-color: #C52068;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color:white;
	font-size: 16px;
	margin-top: 10px;
	
}

#sendButton:hover{
	background-color: #FDBF2B;
}

#name{
	border-radius: 20px;
	width:200px;
	height: 20px;
}

#message{
	border-radius: 20px;
	width:400px;
	height: 40px;
}

/*******FOOTER STYLE******/

footer{
	width:100%;
	height: 80px;
	background-color: #2F0A3C;
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
}

.footerBlue{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	width:70px;
	background-color: #30B9C4;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;;
	color:white;
	text-transform: uppercase;
	margin-left: 45px;
	
	
}
.footerPink{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	width:70px;
	background-color: #C52068;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;;
	color:white;
	text-transform: uppercase;
	margin-left: 45px;
	
}

.footerYellow{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	width:70px;
	background-color: #FDBF2B;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;;
	color:white;
	text-transform: uppercase;
	margin-left: 40px;
	border:3px solid #10FE00;
	
}

.footerNumbers{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	width:40px;
	background-color: #FDBF2B;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;;
	color:black;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 15px;
}

/******* VIDEO ******/

.video {
  width: 100%;
  text-align: center;
}

/************* CHATBOX **************/

.chatbox {
	padding-left: 65%;
	padding-bottom: 10px;
	padding-top: 10px;
}

.message input{
	vertical-align: middle; 
	margin: 5px;
	padding: 10px;
	background-color: white; 
	border: none;
	width: 30%;
	height: 50px;
	border-radius: 8px;
}

.button input{
	vertical-align: middle; 
	margin: 5px;
	padding: 10px;
	background-color: white; 
	border: none;
	width: 5%;
	height: 
}